{% extends 'base.html' %}
{% block content %}
{% load static %}

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">


      <img src="../../static/img/background.jpg" alt="" data-aos="fade-in" class="">
      <div class="container d-flex flex-column align-items-center text-center mt-auto">
        <h2 data-aos="fade-up" data-aos-delay="100" class="">EAT BEST FOOD <br><span>AND STAY IN </span> THE LAVISH HOTEL</h2>
        <p data-aos="fade-up" data-aos-delay="200">KILIFI, COAST OF KENYA</p>
        <div data-aos="fade-up" data-aos-delay="300" class="">
          <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn mt-3"></a>
        </div>
      </div>

      <div class="about-info mt-auto position-relative">

        <div class="container position-relative" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-6">
              <h2>Order.com</h2>
              <p>Get food delivered at your door post within Kilifi town and enjoy food within the good envornment of the best hotel, Book for
                  holidays, events handling and stay for the time in the best town.</p>
            </div>
            <div class="col-lg-3">
              <h3>Solution</h3>
              <p>Do all this without not physical get in the premises before the de day</p>
            </div>
            <div class="col-lg-3">
              <h3>Customer</h3>
              <p>We care your meals<br>and provide a lavish life style</p>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->
  </main>
{% endblock %}
