{% extends 'base.html' %}

{% block content %}
    <br><br><br>
<div class="container mt-5">
    <h2>Make Payment</h2>
    <form method="post" action="{% url 'initiate_stk_push' %}">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                {% for field in form %}
                    {% if field.errors %}
                        <strong>{{ field.label }}:</strong> {{ field.errors }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="mb-3">
            {{ form.phone_number.label_tag }}
            {{ form.phone_number }}
        </div>
        <div class="mb-3">
            {{ form.amount.label_tag }}
            {{ form.amount }}
        </div>
        <button type="submit" class="btn btn-primary">Confirm Payment</button>
    </form>
</div>
{% endblock %}